# General
APPLICATION_BASE_URL=http://localhost:8080

# Database
POSTGRES_DB=AutomotiveEventAPI
POSTGRES_USER=postgres
POSTGRES_PASSWORD=mysecretpassword

SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/AutomotiveEventAPI
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=mysecretpassword

# JWT
SECRET_KEY=your_super_secret_key_at_least_32_chars

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=
AWS_S3_REGION=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Mailtrap
MAIL_PASSWORD=
MAIL_USERNAME=